USE [master]
GO
/****** Object:  Database [RestauranteDB]    Script Date: 16/03/2026 14:21:17 ******/
CREATE DATABASE [RestauranteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestauranteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.DEVELOPER\MSSQL\DATA\RestauranteDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestauranteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.DEVELOPER\MSSQL\DATA\RestauranteDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestauranteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestauranteDB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 16/03/2026 14:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cupones]    Script Date: 16/03/2026 14:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cupones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[TipoDescuento] [nvarchar](15) NOT NULL,
	[ValorDescuento] [decimal](10, 2) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[UsoMaximo] [int] NOT NULL,
	[VecesUsado] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 16/03/2026 14:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 16/03/2026 14:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiaSemana] [int] NOT NULL,
	[HoraApertura] [time](7) NOT NULL,
	[HoraCierre] [time](7) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagenesGaleria]    Script Date: 16/03/2026 14:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagenesGaleria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrlImagen] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Tipo] [nvarchar](10) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 16/03/2026 14:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroMesa] [int] NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 16/03/2026 14:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
	[TipoPedido] [nvarchar](15) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[DireccionEntrega] [nvarchar](255) NULL,
	[CuponId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 16/03/2026 14:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[ImagenUrl] [nvarchar](255) NULL,
	[CategoriaId] [int] NOT NULL,
	[Disponible] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 16/03/2026 14:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[MesaId] [int] NOT NULL,
	[FechaReserva] [datetime] NOT NULL,
	[NumeroPersonas] [int] NOT NULL,
	[Estado] [nvarchar](15) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaConfirmacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/03/2026 14:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Rol] [nvarchar](10) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosSeguridad]    Script Date: 16/03/2026 14:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosSeguridad](
	[UsuarioId] [int] NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valoraciones]    Script Date: 16/03/2026 14:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valoraciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Puntuacion] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
	[Visible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion], [Activo]) VALUES (1, N'Entrantes y Tapas', N'Para abrir el apetito y compartir', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion], [Activo]) VALUES (2, N'Hamburguesas Gourmet', N'Carne 100% vacuno a la parrilla', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion], [Activo]) VALUES (3, N'Pastas y Pizzas', N'El auténtico sabor de Italia en tu mesa', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Cupones] ON 

INSERT [dbo].[Cupones] ([Id], [Codigo], [TipoDescuento], [ValorDescuento], [FechaInicio], [FechaFin], [UsoMaximo], [VecesUsado], [Activo]) VALUES (10, N'TOPMEAL10', N'Porcentaje', CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-03-11T17:44:34.123' AS DateTime), CAST(N'2026-12-31T23:59:59.000' AS DateTime), 200, 2, 1)
INSERT [dbo].[Cupones] ([Id], [Codigo], [TipoDescuento], [ValorDescuento], [FechaInicio], [FechaFin], [UsoMaximo], [VecesUsado], [Activo]) VALUES (11, N'BIENVENIDO5', N'Fijo', CAST(5.00 AS Decimal(10, 2)), CAST(N'2026-03-11T17:44:34.123' AS DateTime), CAST(N'2026-12-31T23:59:59.000' AS DateTime), 100, 2, 1)
INSERT [dbo].[Cupones] ([Id], [Codigo], [TipoDescuento], [ValorDescuento], [FechaInicio], [FechaFin], [UsoMaximo], [VecesUsado], [Activo]) VALUES (12, N'CHEF20', N'Porcentaje', CAST(20.00 AS Decimal(10, 2)), CAST(N'2026-03-11T17:44:34.123' AS DateTime), CAST(N'2026-12-31T23:59:59.000' AS DateTime), 50, 0, 1)
SET IDENTITY_INSERT [dbo].[Cupones] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([Id], [PedidoId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (1, 2, 7, 1, CAST(13.50 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([Id], [PedidoId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 4, 1, CAST(7.50 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([Id], [PedidoId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (3, 3, 1, 1, CAST(8.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([Id], [DiaSemana], [HoraApertura], [HoraCierre], [Activo]) VALUES (1, 1, CAST(N'12:30:00' AS Time), CAST(N'16:30:00' AS Time), 1)
INSERT [dbo].[Horarios] ([Id], [DiaSemana], [HoraApertura], [HoraCierre], [Activo]) VALUES (2, 1, CAST(N'20:00:00' AS Time), CAST(N'01:00:00' AS Time), 1)
INSERT [dbo].[Horarios] ([Id], [DiaSemana], [HoraApertura], [HoraCierre], [Activo]) VALUES (3, 2, CAST(N'12:30:00' AS Time), CAST(N'16:30:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesas] ON 

INSERT [dbo].[Mesas] ([Id], [NumeroMesa], [Capacidad], [Activa]) VALUES (1, 1, 2, 1)
INSERT [dbo].[Mesas] ([Id], [NumeroMesa], [Capacidad], [Activa]) VALUES (2, 2, 2, 1)
INSERT [dbo].[Mesas] ([Id], [NumeroMesa], [Capacidad], [Activa]) VALUES (3, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[Mesas] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([Id], [UsuarioId], [FechaPedido], [TipoPedido], [Estado], [Subtotal], [Descuento], [Total], [DireccionEntrega], [CuponId]) VALUES (2, 2, CAST(N'2026-03-16T09:50:08.397' AS DateTime), N'Recogida', N'PendientePago', CAST(21.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(21.05 AS Decimal(10, 2)), N'Calle Serrano 22', 11)
INSERT [dbo].[Pedidos] ([Id], [UsuarioId], [FechaPedido], [TipoPedido], [Estado], [Subtotal], [Descuento], [Total], [DireccionEntrega], [CuponId]) VALUES (3, 2, CAST(N'2026-03-16T09:53:25.260' AS DateTime), N'Recogida', N'PendientePago', CAST(20.50 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(20.55 AS Decimal(10, 2)), N'Calle Serrano 22', 11)
INSERT [dbo].[Pedidos] ([Id], [UsuarioId], [FechaPedido], [TipoPedido], [Estado], [Subtotal], [Descuento], [Total], [DireccionEntrega], [CuponId]) VALUES (4, 2, CAST(N'2026-03-16T10:24:20.890' AS DateTime), N'Domicilio', N'PendientePago', CAST(24.00 AS Decimal(10, 2)), CAST(2.40 AS Decimal(10, 2)), CAST(26.65 AS Decimal(10, 2)), N'Calle Serrano 22', 10)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [ImagenUrl], [CategoriaId], [Disponible], [FechaCreacion]) VALUES (1, N'Tequeños Crujientes', N'6 palitos de queso fundido con salsa de maracuyá', CAST(8.50 AS Decimal(10, 2)), N'/images/menu/tequenos.jpg', 1, 1, CAST(N'2026-02-26T10:35:51.357' AS DateTime))
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [ImagenUrl], [CategoriaId], [Disponible], [FechaCreacion]) VALUES (2, N'Nachos TopMeal', N'Con guacamole casero, chili con carne y extra de queso', CAST(12.00 AS Decimal(10, 2)), N'/images/menu/nachos.jpg', 1, 1, CAST(N'2026-02-26T10:35:51.357' AS DateTime))
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [ImagenUrl], [CategoriaId], [Disponible], [FechaCreacion]) VALUES (3, N'Croquetas de Jamón', N'Bechamel cremosa con virutas de jamón ibérico (4 uds)', CAST(9.00 AS Decimal(10, 2)), N'/images/menu/croquetas.jpg', 1, 1, CAST(N'2026-02-26T10:35:51.357' AS DateTime))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Email], [Password], [Telefono], [Direccion], [Rol], [FechaRegistro], [Activo]) VALUES (1, N'Administrador', N'admin@gmail.com', N'12345', N'987654321', N'Calle Gran Vía 42', N'Admin', CAST(N'2026-03-16T09:26:10.787' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Email], [Password], [Telefono], [Direccion], [Rol], [FechaRegistro], [Activo]) VALUES (2, N'Cliente ', N'cliente@gmail.com', N'12345', N'123456789', N'Calle Serrano 22', N'Cliente', CAST(N'2026-03-16T09:27:38.717' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
INSERT [dbo].[UsuariosSeguridad] ([UsuarioId], [PasswordHash], [Salt]) VALUES (1, N'ZPGMxng3ycoGflwMKIXj8Pw//5GdNwT4z9/1IE3gzSENG/oqpk4tb0qwBgfNdawC7zlhQCgiTvsqYjELc8MirA==', N'2vKV4/+kumrXLjYIrJbiuN/BXGwVifOSk9rA0AWMKr0=')
INSERT [dbo].[UsuariosSeguridad] ([UsuarioId], [PasswordHash], [Salt]) VALUES (2, N'7AWol7kB79tu3eP9VClO8qyS8PnAViK+kWzHO31FGPtTiLA7W+A9Tw6N1TGpOZ5kk8rNHoDriHAybiv/2yMkgA==', N'NGaD+xvJetbFUXvS8PONNceC+b0qjOQAlz8pwROD0DA=')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cupones__06370DACAA9CCB8C]    Script Date: 16/03/2026 14:21:18 ******/
ALTER TABLE [dbo].[Cupones] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Mesas__A5588DD210F2313F]    Script Date: 16/03/2026 14:21:18 ******/
ALTER TABLE [dbo].[Mesas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D10534F3C31A9F]    Script Date: 16/03/2026 14:21:18 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ((0)) FOR [VecesUsado]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Horarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ImagenesGaleria] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Mesas] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('PendientePago') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Cliente') FOR [Rol]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Valoraciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Valoraciones] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedidos] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedidos]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Productos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Cupones] FOREIGN KEY([CuponId])
REFERENCES [dbo].[Cupones] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Cupones]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Mesas] FOREIGN KEY([MesaId])
REFERENCES [dbo].[Mesas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Mesas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Usuarios]
GO
ALTER TABLE [dbo].[UsuariosSeguridad]  WITH CHECK ADD  CONSTRAINT [FK_Seguridad_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosSeguridad] CHECK CONSTRAINT [FK_Seguridad_Usuarios]
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD  CONSTRAINT [FK_Valoraciones_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Valoraciones] CHECK CONSTRAINT [FK_Valoraciones_Usuarios]
GO
ALTER TABLE [dbo].[Cupones]  WITH CHECK ADD CHECK  (([TipoDescuento]='Fijo' OR [TipoDescuento]='Porcentaje'))
GO
ALTER TABLE [dbo].[ImagenesGaleria]  WITH CHECK ADD CHECK  (([Tipo]='Plato' OR [Tipo]='Local'))
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([Estado]='Cancelado' OR [Estado]='Entregado' OR [Estado]='Listo' OR [Estado]='EnPreparacion' OR [Estado]='PendientePago'))
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([TipoPedido]='Domicilio' OR [TipoPedido]='Recogida'))
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD CHECK  (([Estado]='Expirada' OR [Estado]='Cancelada' OR [Estado]='Confirmada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Rol]='Cliente' OR [Rol]='Admin'))
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD CHECK  (([Puntuacion]>=(1) AND [Puntuacion]<=(5)))
GO
USE [master]
GO
